{% extends "email.html" %}

{% block content %}
<h1>Password Reset</h1>
<p>Hi there,</p>
<p>You have requested a password reset for your {{ project_name }} account associated with this email ({{ email }}).</p>
<p>Please click the button below to reset your password. This link is valid for {{ valid_hours }} hours.</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="center">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td><a href="{{ reset_link }}" target="_blank">Reset Password</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<p>If you didn't request this password reset, please ignore this email or contact support if you have concerns.</p>
<p>Thanks,<br>
The {{ project_name }} Team</p>
{% endblock %} 